@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

/* main text */
body {
  background: #fafafa;
  font-family: "DotGothic16";
  color: #333333;
  font-size: 20px;
  margin-top: 5em;
  line-height: 1em;
}

/* dividing left and right columns for forms */
.form-left-column {
  float: left;
  padding: 5px;
  width: 66%;
  text-align: left;
}

.form-right-column {
  float: right;
  padding: 5px;
  width: 30%;
  text-align: left;
  margin-right: 25px;
}

/* three columns for tasks side by side*/
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* styling the cards which serve as containers*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 8px;
  overflow-x: auto;
  overflow-y: scroll;
  height: 430px;
  align-items: center;
}

/* styling the task boxes */
.task {
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* dividing the space within the tasks */
.left_column {
  float: left;
  padding: 5px;
  width: 85%;
  text-align: left;
}

.right_column {
  float: right;
  padding: 5px;
  width: 15%;
}

/* dropdown button styling */
.dropbtn {
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 30px;
  border: none;
  border-radius: 8px;
  background-color: #f7f4f4;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropbtn-task {
  background-color: rgb(168, 162, 162);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  text-align: left;
  border-radius: 8px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

.description-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  text-align: left;
  border-radius: 8px;
  min-width: 230px;
}

.description-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  right: 30%;
  left: auto;
}

.dropdown:hover .description-content {
  display: block;
  right: 0%;
  left: 0%;
}
.dropdown:hover .dropbtn {
  background-color: rgb(218, 208, 169);
}

/* styling the form inputs */
input[type="text"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 22px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  color: grey;
  margin: 10px;
  border-radius: 8px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #1d87dd;
  color: white;
  padding: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  float: left;
  height: 75px;
}

input[type="submit"]:hover {
  background-color: #1a76c2;
}

/* responsive columns */
@media screen and (max-width: 991px) and (min-width: 750px) {
  .left_column {
    width: 70%;
  }

  .right_column {
    width: 30%;
  }

  .description-content {
    min-width: 140px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .description-content {
    min-width: 180px;
  }
}

@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .left_column {
    width: 93%;
  }

  .right_column {
    width: 7%;
  }

  .description-content {
    min-width: 350px;
  }
}
